Repository Taka1304/connect4: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, wasm-format, update-index

frontend-format:
  run: npx @biomejs/biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

wasm-format:
  run: cargo fmt --

update-index:
  run: git update-index --again

fix: parallelだとupdate-indexが先に終わるじゃんね
  lefthook.yml
  wasm/src/q_learning.rs
Due: wasm-format, update-index

Update dependabot.yml
  .github/dependabot.yml
Due: none

add: font
  src/app/HonyaJi-Re.ttf
  src/app/layout.tsx
Due: frontend-format

feat: 一応ゲームできる、、、？
  bun.lockb
  next.config.mjs
  package.json
  public/pkg/.gitignore
  src/app/vsAI/page.tsx
  src/resources/.gitkeep
  wasm/Cargo.toml
  wasm/README.md
  wasm/src/lib.rs
Due: frontend-format, wasm-format, update-index

add: 再挑戦
  src/app/vsAI/page.tsx
Due: frontend-format

fix: apply -> write
  lefthook.yml
Due: none

fix: apply -> write
  package.json
Due: frontend-format

chore
  wasm/src/bin/init_q.rs
Due: wasm-format, update-index

feat: bitboard化してデータサイズ削減、学習できる機能を追加
  wasm/.gitignore
  wasm/Cargo.toml
  wasm/init_q_table.json
  wasm/red_q_table.json
  wasm/src/bin/init_q.rs
  wasm/src/bin/train.rs
  wasm/src/board.rs
  wasm/src/lib.rs
  wasm/src/q_learning.rs
  wasm/yellow_q_table.json
Due: frontend-format, wasm-format, update-index

fix: ずっと俺のターン
  wasm/src/bin/train.rs
  wasm/src/lib.rs
  wasm/src/q_learning.rs
Due: wasm-format, update-index

remove: q_table.jsonが重くなったのでgitignoreに追加
  .gitignore
  lefthook.yml
  wasm/red_q_table.json
  wasm/yellow_q_table.json
Due: frontend-format

fix: q_valuesの更新が上手くいっていなかったのを修正
  wasm/src/bin/train.rs
  wasm/src/board.rs
Due: wasm-format, update-index

change: get_boardはBitboardを返すようにする
  wasm/src/bin/train.rs
  wasm/src/board.rs
  wasm/src/lib.rs
  wasm/src/q_learning.rs
Due: wasm-format, update-index

change: GameStateはフロントに持たせることにする
  wasm/src/bin/train.rs
  wasm/src/lib.rs
  wasm/src/q_learning.rs
Due: wasm-format, update-index

fix: constructorであることを明記
  wasm/src/board.rs
  wasm/src/lib.rs
Due: wasm-format, update-index

chore: parameter tuning
  wasm/src/q_learning.rs
Due: wasm-format, update-index

fix: drop_discが落としたrowを返すようにする
  wasm/src/board.rs
Due: wasm-format, update-index

fix: ぬるぽ
  wasm/src/lib.rs
Due: wasm-format, update-index

fix: とりあえずフロントで最低限動くようにした
  bun.lockb
  package.json
  src/app/vsAI/page.tsx
  src/components/Molecules/Board.tsx
  src/const/board.ts
Due: frontend-format

feat: q_learningにDefault traitを実装
  wasm/src/bin/init_q.rs
  wasm/src/q_learning.rs
Due: wasm-format, update-index

fix: turnの仕様を修正
  wasm/src/bin/train.rs
Due: wasm-format, update-index

Path conditions:
  frontend-format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  wasm-format: any of: *.rs and ^wasm/
  update-index: any of: *.rs
